PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=awea_advisory
MONGODB_DNS_SERVERS=
EMAIL_USER=aweaconnect@gmail.com
EMAIL_APP_PASSWORD=your_16_character_google_app_password
NOTIFICATION_EMAIL=aweaconnect@gmail.com
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_EMAIL=aweaconnect@gmail.com
